<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simple Login: Error</title>
    </head>
    <body>
        <h1>Error</h1>
        <p>Something went wrong. please <a href="/login">try loggin in</a> again.</p>
    </body>
</html>
