<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>welcome to the simple shop app</title>
    </head>
    <body>
        <h1>Simple shop App</h1>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
      <a href="/error">Error</a>
      <a href="/profile">profile</a>
      <a href="/admin">Admin</a>
      

<p>Hi this is my first login app from Scratch.</p>
    </body>
</html>
