<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Tell the browser to scale up the site in mobile to tablet screen resolutions -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Shop Style Template</title>

    <!-- Include our styling for the page -->

    <!-- Reset the default browser stylings -->
    <link href="\lib\normalize-css\normalize.css" rel="stylesheet" type="text/css">
    <link href="\css\style.less" rel="stylesheet" type="text/less">
    <!-- set options before less.js script -->
    <script>
        less = {
            env: "development",
            async: false,
            fileAsync: false,
            poll: 1000,
            functions: {},
            dumpLineNumbers: "comments",
            relativeUrls: false,
            rootpath: ":/a.com/"
        };
    </script>

    <!-- Include LessCss as our css precomiler -->
    <script src="/lib/less/dist/less.min.js" type="text/javascript"></script>
</head>

<body>
    <!-- A division of the body as the page or document-->
    <div class="page">
        <!-- Header area of the document. Usually where the site logo and navigation go-->
        <div class="header">
            <header>
                <h1>Aditii</h1>
                <img src="">
            </header>
            <!-- Build out the top navigation bar -->
            <div class="navbar">
                <nav>
                    <a href="#">Home</a>
                    <a href="#">Sale</a>
                    <a href="#">Handbags</a>
                    <a href="#">Wallets</a>
                    <a href="#">Accsessories</a>
                    <a href="#">Mens Store</a>
                    <a href="#">Vintage</a>
                    <a href="#">Services</a>
                    <a href="#">Contacts</a>

                </nav>
            </div>
        </div>

        <!-- Main content of the site -->
        <div class="body">
            <!-- Image Slider -->
            <div class="slider">
                <ul>
                    <li>
                        <div>
                            <img src= "">
                            <div>
                            <h3>Cowhide Standard Crew</h3>
                                <p> Lorem iosum dolor sit amet. This is a whit shirt, This is a whit shirt,This is a whit shirt,This is a whit shirt,This is a whit shirt,
                                    This is a whit shirt,This is a whit shirt,This is a whit shirt,
                                </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="column-3">
            <div class="product">
                <img src="">
                <div>
                    <h3>Cowhide Standard Crew</h3>
                    <p>
                        Lorem iosum dolor sit amet. This is a whit shirt, This is a whit shirt,This is a whit shirt,This is a whit shirt,This is a whit shirt,
                        This is a whit shirt,This is a whit shirt,This is a whit shirt,
                    </p>
                    <a href="#">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="column-3">
                <div class="product">
                    <img src="">
                    <div>
                        <h3>Cowhide Standard Crew</h3>
                        <p>
                            Lorem iosum dolor sit amet. This is a whit shirt, This is a whit shirt,This is a whit shirt,This is a whit shirt,This is a whit shirt,
                            This is a whit shirt,This is a whit shirt,This is a whit shirt,
                        </p>
                        <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="column-3">
                    <div class="product">
                        <img src="">
                        <div>
                            <h3>Cowhide Standard Crew</h3>
                            <p>
                                Lorem iosum dolor sit amet. This is a whit shirt, This is a whit shirt,This is a whit shirt,This is a whit shirt,This is a whit shirt,
                                This is a whit shirt,This is a whit shirt,This is a whit shirt,
                            </p>
                            <a href="#"><Buy Now</a>
                            </div>
                        </div>
                    </div>


        <!-- Page or ducment footer -->
        <div class="footer"></div>
    </div>
</body>

</html>
