
// Create my color pallete.
@color-01: #ffffff;
@color-02: #386661;
@color-03: #38c7b4;
@color-04: #2da89b;
@color-05: #386656;
@color-06: #b2b2b2;

@max-page-width: 1200px;

body {
    background-color: @color-04;
}

.page {
    //stop box elements for sizing beyond
    //their width when adding padding or borders
    * {
        box-sizing: border-box;
    }
    border: 1px dotted red;

    .header {

        header {
            border: 1px dotted green;
            margin: auto;
            max-width: @max-page-width;
        }

        .navbar {
            background-color: @color-04;
        }

        a {
            // border: 1px dotted red;
            border-left: 2px solid @color-01;
            color: @color-01;
            display: table-cell;
            font-size: 12px;
            font-weight: bold;
            padding: 5px 10px 5px 10px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            width: 10%;
        }

        nav {
            // border: 1px dotted blue;
            color: @color-01;
            margin: auto;
            max-width: @max-page-width;
            padding: 10px;

            // Remove the left bar from the first element.
            a:nth-child(1) {
                border-left: none;
            }
        }

        // Change menu to stack vertically.
        @media (max-width: 480px) {
            a {
                // border: 2px dotted red;
                border-left: none;
                border-top: 1px solid white;
                display: block;
                text-align: left;
                width: 100%;
            }

            a:nth-child(0) {
                border-top: none;
            }
        }
    }

    .body {
        background-color: @color-01;
        margin: auto;
        // max-width: @max-page-width;

    }

    .grid {
            border: 1px dotted red;
            display: table;
            margin: auto;
            max-width: @max-page-width;
            padding: 10px;
             width: 100%;
            .column {
                border: 1px dotted green;
                display: table-cell;
                }
                .large {
                    width: 80%;
                }


    .product {
                border: 1px dotted blue;
                overflow: auto;
                padding: 20px;
                >img{
                    border: 1px dotted red;
                    width: 50%;

                    float: left;
                }
                .description {
                    border: 1px dotted green;
                    max-width: 50%;
                    float: left;
                    //hide description content
                    >p {
                        display: none
                    }
                    >h3 {
                        font-size: 20px;
                        // color: blue;
                        color: @color-06;
                    }
                }
                // >div{
                //     border: 1px dotted green;
                // }
                >p{
                    display: none;
                }
                a  {
                        border-radius: 5px;
                        background-color: @color-04;
                        color: @color-01;
                        padding: 20px;
                        display:inline-block;
                        text-decoration: none;
                        text-transform:uppercase;


                    }
            }
        }

        .slider {
            background-color: @color-04;
            >product {
            margin: auto;
            max-width: @max-page-width;
            padding: 10px;
            }
            >p {
                display: none;
            }
        }
    }

    .footer {
        .grid {
                // border: 1px dotted red;
                margin: auto;
                max-width: @max-page-width;
                padding: 10px;
                .column {
                    // border: 1px dotted green;
                    display: table-cell;;
                    // width: 100%
                    }
            }

    }

////////////////////////////////////
