body{
    background-color: #b9b9b9;
    font-family: sans-serif;
    padding: 20px;
}
.product-list{
    list-style: none;
    paddings: 0;
}
.product-list .item{
    background-color: #fff;
    border: 1px solid: #b0b0b0;
    border-radius: 10px;
    padding: 20px;
}
.cart-list .item{
    background-color: #fff;
    border: 1px solid: #b0b0b0;
    border-radius: 10px;
    padding: 20px;
}
